.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  color: white;
  text-align: center;
  position: absolute;
  top: 1968px;
  margin: 0 auto 0;
  width: 194;
  height: 16px;
}

.footer__copyright_font_ibm {
  font-family: "Inter", serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0;
}

@media (min-width: 544px) and (max-width: 1024px) {
  .footer__copyright {
    position: absolute;
    top: 1702px;
    margin: 0 auto 0;
  }
}
