.lead {
  width: 984px;
  height: 983px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 194px;
  left: 148px;
}

.lead__title {
  color: white;
}

.lead__title_font_ibm {
  font-family: "Inter Black", serif;
  width: 720px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  margin: 0 auto 32px;
}

.lead__subtitle {
  color: white;
  width: 720px;
  height: 72px;
}

.lead__subtitle_font_ibm {
  font-family: "Inter", serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0 auto 64px;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin: 0;
}
