.lead {
  width: 100%;
  height: 983px;
  margin: 0 auto 0;
  text-align: center;
  position: absolute;
  top: 194px;
}

.lead__title {
  color: white;
}

.lead__title_font_ibm {
  font-family: "Inter Black", serif;
  width: 720px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  margin: 0 auto 32px;
}

.lead__subtitle {
  color: white;
  width: 720px;
  height: 72px;
}

.lead__subtitle_font_ibm {
  font-family: "Inter", serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0 auto 64px;
}

.lead__image {
  width: 984px;
  height: 615px;
  margin: 0;
}

@media (min-width: 544px) and (max-width: 1024px) {
  .lead {
    height: 255px;
    margin: 0 auto 0;
    text-align: center;
    position: absolute;
    top: 194px;
  }

  .lead__title_font_ibm {
    width: 530px;
    height: 158px;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0;
    margin: 0 auto 25px;
  }

  .lead__subtitle {
    width: 720px;
    height: 72px;
  }

  .lead__subtitle_font_ibm {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
    margin: 0 auto 30px;
  }

  .lead__image {
    width: 100%;
    height: 480px;
    margin: 0;
  }
}
