.places {
  height: 3367px;
  width: 987px;
  position: absolute;
  top: 2528px;
}

.places__place {
  height: 756px;
  width: 984px;
  position: relative;
}

.places__title {
  height: 152px;
  width: 460px;
  font-family: "Inter Black", serif;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;
  color: white;
  margin: 0;
}

.places__website {
  width: 456px;
  height: 67px;
  position: absolute;
  left: 651px;
}

.places__url-heading {
  height: 15px;
  width: 85.17px;
  font-family: "Inter", serif;
  font-size: 12px;
  line-height: auto;
  letter-spacing: 12%;
  color: #aaaaaa;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.places__artist {
  height: 22px;
  width: 455.5278625488281px;
  font-family: "Inter", serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #fff;
  margin: 0;
}

.places__image {
  height: 460px;
  width: 460px;
  object-fit: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.places__paragraph {
  width: 484px;
  font-family: "Inter", serif;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 2728px;
  left: 651px;
}

.places__frame {
  width: 289px;
  height: 48px;
  background: linear-gradient(to right, #0278fe, #003a7b);
  display: flexbox;
  align-content: center;
  justify-content: center;
}

.places__paragraph-frame {
  font-family: "Inter", serif;
  color: #fff;
  font-size: 18px;
  margin: 0 auto 0;
  line-height: auto;
  letter-spacing: 0%;
  height: 22px;
  width: 249px;
  text-align: center;
}

.places__paragraph-second {
  position: absolute;
  top: 2956px;
  left: 651px;
}
